name: Hungry Crab

on:
  issues:
    types: [opened]
  issue_comment:
    types: [created]

jobs:
  reply:
    if: github.event.sender.type == 'User'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    env:
      GH_REPO: ${{ github.repository }}
      API_TOKEN: ${{ secrets.TOKEN }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ISSUE: ${{ github.event.issue.number }}
    steps:
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Make reply
        run: |
          RESPONSE="$(bun ./script.js $ISSUE $API_TOKEN)"
          gh issue comment $ISSUE --body "$RESPONSE"
          gh issue close $ISSUE
